[ ca ]
default_ca = myca

[ myca ]
dir = /home/tyler/programs/openssl_usage/pki
certificate = $dir/cacert.pem
database = $dir/index.txt
new_certs_dir = $dir/certs
private_key = $dir/private/cakey.pem
serial = $dir/serial

default_crl_days= 7
default_days = 365
default_md = md5

policy = myca_policy
x509_extensions = certificate_extensions

[ myca_policy ]
commonName = supplied
stateOrProvinceName = supplied
countryName = supplied
emailAddress = supplied
organizationName= supplied
organizationalUnitName = optional

[ certificate_extensions ]
basicConstraints= CA:false

[ req ]
default_bits = 2048
default_keyfile = /home/tyler/programs/openssl_usage/pki/private/cakey.pem
default_md = md5
prompt = no
distinguished_name = root_ca_distinguished_name
x509_extensions = root_ca_extensions
[ root_ca_distinguished_name ]
commonName = My CA
stateOrProvinceName = Beijing
countryName = CN
emailAddress = lihuorong010@gmail.com
organizationName = Root Certification Authority
[ root_ca_extensions ]
basicConstraints = CA:true
